<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body style="padding: 50px">
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="nama" class="form-control"><br>
        <button type="submit" class="btn btn-primary" >Simpan</button>
    </form>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                 <th>ID</th>
                 <th>Nama</th>
                <th>Actions</th>
                </tr>
            </thead>
        <tbody>
            {% for d in datahtml%}

            <tr>
                <td>{{d.id}}</td>
                <td>{{d.nama}}</td>
                <td>
                    <a href="detail/{{d.id}}" class="btn-succes">Views</a>
                    <a href="edit/{{d.id}}" class="btn-warning">Edit</a>
                    <a href="hapus/{{d.id}}" class="btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>